.game-header-container {
    background-color: transparent;

    .game-header {
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: min(500px, 100%);

        img {
            width: 40px;
            height: 40px;
        }

        a {
            color: white;
            text-transform: uppercase;
            border-radius: 50px;
            padding: 3px 10px;
            background-color: #5A3ACC;
            font-size: 16px;
            font-weight: bold;            
        }
    }
}