@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #7750FC;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}